<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @showing.movie.name %>
</p>

<p>
  <b>Time:</b>
  <%= @showing.time %>
</p>


<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
