<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p> 
	<b>Purchased Tickets:</b>
<% @user.tickets.each do |current_ticket| %>
	<p><%= "#{current_ticket.showing.movie.name} #{current_ticket.showing.time} (Seat #{current_ticket.row}#{current_ticket.column.to_s})" %></p>
	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
