<p id="notice"><%= notice %></p>

<p>
  <b>Showing:</b>
  <%= @ticket.showing_id %>
</p>

<p>
  <b>User:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Row:</b>
  <%= @ticket.row %>
</p>

<p>
  <b>Column:</b>
  <%= @ticket.column %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
